@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.container{
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #7E57C2;
}
.sub-container{
    display: flex;
    flex-direction: column;
}
.field{
    display: block;
    /* width:; */
    border: none;
    border-radius: 0.4em;
    padding: 15px 15px;
    transition: box-shadow 300ms;
    font-size: 20px;
}
.field:focus{
    outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem #5e35b1;
}
.field::placeholder{
    color: #B0BEC5;
}
.button{
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius:0.4em;
    border: none;
    display: inline-block;
    width: 50%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-size: 20px;
}
button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #560bad;
    height: 150px;
    width: 300px;
    border-radius: 50%;
   }
   
   button:hover {
    color: #fff;
   }
   
   button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   button:hover:before {
    top: -30px;
    left: -30px;
   }
   
   button:active:before {
    background: #3a0ca3;
    transition: background 0s;
   }


